<!doctype html>

<!--[if lt IE 7 ]> <html class='ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js' lang='en'> <![endif]-->
<!--[if IE 7 ]>    <html class='ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js' lang='en'> <![endif]-->
<!--[if IE 8 ]>    <html class='ie ie8 ie-lt10 ie-lt9 no-js' lang='en'> <![endif]-->
<!--[if IE 9 ]>    <html class='ie ie9 ie-lt10 no-js' lang='en'> <![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang='en'><!--<![endif]-->

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Offset Studio</title>
	<meta name='author' content='Russell Goldenberg, Elaina Natario' />
	<meta name='description' content='Offset Studio: data-driven interactive storytelling' />

	<!-- Don't forget to set your site up: http://google.com/webmasters -->
	<!-- <meta name='google-site-verification' content='' /> -->

	<meta name='Copyright' content='Offset Studio' />

	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<link rel='shortcut icon' href='favicon.ico' />

	<meta name='twitter:card' content=''>
	<meta name='twitter:site' content=''>
	<meta name='twitter:title' content=''>
	<meta name='twitter:description' content=''>
	<meta name='twitter:url' content=''>
	<meta property='og:title' content='' />
	<meta property='og:description' content='' />
	<meta property='og:url' content='' />
	<meta property='og:image' content='' />
	<!-- smoosh -->
	<link rel='stylesheet' href='main.css' />
	<!-- endsmoosh -->
</head>

<body>
	<main class='content'>
		{{> header}}
		{{> intro}}
		{{> work}}
		{{> ethos}}
		{{> about}}
		{{> footer}}
	</main>
	<!-- smoosh -->
	<script src='bundle.js'></script>
	<!-- endsmoosh -->
</body>
</html>